<h1 class="title">Project: Turbine Analysis</h1>
<p class="subtitle">
In this project, I performed the analysis of a turbine and the effects of resonance on the system. Additionally, to maximize
software efficiency, I used radial symmetry when modelling the system. First, I started by modelling a single blade of the system and meshing the part to find the deflection and stress as a function of RPM.
  <IMG SRC="/website/assets/blade.PNG" alt="turbine blade" class="responsive">
</br>
</br>
Next, I used symmetry to model the entire turbine and visualize the blade deflections at 20,000 RPM.
</br>
<IMG SRC="/website/assets/turbine.PNG" alt="turbine" class="responsive">
</br></br>
Using Abaqus to perform a modal analysis, I was able to identify the top 5 modes and mode shapes at the most relevant RPM's. Linearly interpolating this data, I can create a Campbell diagram showing the vibrational modes for the turbine blades as a function of RPM.
</br>
<IMG SRC="/website/assets/campbell.PNG" alt="engine campbell" class="responsive">
</br></br>
Finally - when overlaying this data with the engine orders and turbine intake vane orders, the intersections represent the most dangerous frequencies for the entire engine assembly.
</br>
<IMG SRC="/website/assets/campbell2.PNG" alt="assembly campbell" class="responsive">

</p>
