{% if site.show_projects %}
  <h1 class="title"><span>Mechanical Projects</span></h1>
  <div class="projects-wrapper">
    {% for project in site.data.projects %} 
     {% if project.mech %} 
      <div class="project neumorphism-card" data-aos="zoom-in-down">
        <div class="name-link-wrapper">
          <h3>{{project.name}}</h3>
        </div>

        <p class="project-desc">{{project.descr}}</p>

        {% if project.img %}
	<center>
	<a href="/website{{project.demo}}">
          <img src="{{project.img}}" alt="Wrong Path" class="responsive" width="{{project.w}}" height="{{project.h}}">
        </a>
	</center>
	{% endif %}

        {% if project.demo %}
          <a class="highlight-link" href="/website{{project.demo}}" target="_blank" rel="noreferrer">
            Demo
          </a>
        {% endif %}
	
        {% if project.tags %}
          <div class="tag-wrapper">
            {% for tag in project.tags %}
              <span class="tag neumorphism-card">{{tag.tag}}</span>
            {% endfor %}
          </div>
        {% endif %}
      </div>
     {% endif %}
    {% endfor %}
  </div>
{% endif %}
