<h1 class="title">Project 2: Chrome Dino Game Bot</h1>
<p class="subtitle">This project was written in Python and utilizes the autopy image processing library in order to determine when an obstacle is coming.</br></br>
  <IMG SRC="/assets/dino.gif" alt="Dino Gameplay" style="width:700px;height:170px;">
</br>
</br>
The script looks for obstacles at a set distance in front of the player. When the obstacle gets close enough, the script presses the space bar and the dino jumps.
However, because the game speeds up this distance is moved farther out as a function of time.
</br></br>
This makes it much easier to get a high score and can be run by anyone with Python downloaded. Check out my github for the code.
</p>
