<h1 class="title">Project 1: Tunnelman</h1>
<p class="subtitle">This project is based off the classic arcade game dig dug. You must dig your way through the map and find all the hidden oil in the level while avoiding the enemies.
As you progress through the levels there are more objects to find, faster enemies, and less resources to help you.
Below is some gameplay footage from my project.</br>
  <IMG SRC="/assets/tunnelman.gif" alt="Tunnelman Gameplay" style="width:500px;height:500px;">
</br>
<i> Enemies </i>
<br>
In this game, various classes of AI enemies follow you as you dig tunnels trying to locate the hidden oil underground. 
As you progress through the levels, the enemies get increasingly faster and smarter, with the ability to track and follow you.
</br> </br>
<i> Squirt Gun</i>
<br>
You can protect yourself from enemies with a squirt gun but you have a limited number of shots.
Refill with the pools of water that spawn at random locations in the tunnels.</br> </br>
<i> Sonar </i>
<br>
You can use sonar to reveal hidden oil stores nearby. Usually these resources require you to be within a tight radius but the sonar shows you the location of hidden reserves.
</br> </br>
<i> Falling Objects</i>
<br>
Watch out for the falling rocks! When the ground beneath them is removed, the boulders become unstable and will fall. These can kill the enemies but 
will hurt you as well if you're not careful.

</br> </br>
<i> Gold</i>
<br>
As you pick up gold in the tunnels, you can drop it behind to distract lower level enemies. However, the higher level AI will not be stopped by this trick. 
Just be careful to not drop it too soon because the gold will disappear.
</br> </br>
 </p>
